* {

/*font-family: 'Source Sans Pro', sans-serif;*/
font-family: 'Avenir', sans-serif;

}

.container {
  clear: both;
  margin-bottom: 25px;
  height: 1000px;
}

/************** Headline *******************/
.headline {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  font-size: 5em;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 75px;
}

/************** Elements *******************/


h1 {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  letter-spacing: 3px;
}


p {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  letter-spacing: 1.1px;

  line-height: 2em;
  text-indent: 2em;
}


button {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  height: 70px;
  width: 350px;
  /*display: block;*/
  /*letter-spacing: 2px;*/
  border: none;
  box-shadow: 3px 3px 4px darkgrey ;
  /*clear: both;*/
  margin: auto;
  /*margin-top: 25px;*/
  margin-bottom: 15px;
  margin-left: 50px;

  font-size: 25px;
  border-radius: 8px;
  background-color: chartreuse;
  color: white;
}

button:hover {
  /*background-color: #6dda00;*/
  background-color: #6dda00;
  color: white;
  /*transition: background-color 0.3s ease-in,
              color 0.3s ease-in;*/
}
button:active {
  /*background-color: #cf6c7e;*/
  background-color: #55ab00 ;
  color: white;
  border: none;
  box-shadow: 0px 0px;
}

button:focus {
  outline: 0;
}


textarea {
  font-family: 'Courier', sans-serif;
  font-size: 1em;
  color: chartreuse;
  height: 350px;

  max-width: 350px;
  min-width: 350px;
  margin-top: -15px;
  box-shadow: 3px 3px 4px darkgrey ;
  background-color: #282d2f;

}

textarea:focus {
  outline: 0;
}


/************** Containers *******************/

.fontView {
  display: inline-block;
  /*margin: 0 auto;*/
  border: 1px solid darkgrey;
  /*padding: 25px 50px;*/
  float: left;
  margin-left: 60px;
  width: 700px;
  box-shadow: 3px 3px 4px darkgrey ;

}

.fontViewText {
  padding: 25px 72px;
}

.cssView {
  display: inline-block;
  float: left;
  margin-left: 50px;
  /*margin-top: 20px;*/
}

.htmlInput {
  display: inline-block;
  width: 400px;
  height: 20px;
  margin-left: 50px;
  margin-top: 25px;
}

.htmlInput input {
  display: inline-block;
  width: 400px;
  height: 20px;

}

h3 {
  /*font-family: 'Actor', sans-serif;*/
  font-weight: lighter;
  letter-spacing: 3px;
}



/************** Media Queries *******************/

@media (max-width: 1290px){
  .container {
    max-width: 900px;
    min-width: 700px;
    height: 1500px;
  }

  button {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 700px;
    /*position: inherit;*/
  }

  .cssView {
    display: block;
    margin: 0 auto;
    margin-left: 60px;
  }

  textarea {
    min-width: 800px;
    max-width: 800px;
  }
  h2 {
    text-align: center;
  }
}



@media(max-width: 1150px){
  button {
    display: block;
    margin-left: 100px;
  }
  .headline {
    /*display: block;*/
    text-align: left;
    margin-left: 310px;
    position: inherit;
  }

  h2 {
    text-align: center;
  }
}

@media(max-width: 500px){

  .headline {
    font-size: 40px;
    margin-left: 85px;
  }
  button {
    width: 300px;
    font-size: 20px;
    margin-left: 40px;
  }
  .fontView {
    width: 270px;
    margin-left: 5px;

  }
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
    line-height: 1.75em;
  }
  .cssView {
    margin-left: 40px;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  textarea {
    max-width: 300px;
    min-width: 300px;
    margin-top: 1px;
  }
}
